<div *ngFor="let data of movies;let i=index">
    <img src={{data.image}}>
<h1>{{data.name}}</h1>
</div>
<br>
<h1>Ng If with Photos</h1>
<div *ngFor="let data of movies;let i=index">
    <div *ngIf="data.language=='telugu'"><img src={{data.image}}>
<h1>{{data.name}}</h1></div>
</div>